
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "vendor/needim/noty/src/noty.scss";
@import "vendor/needim/noty/src/themes/mint.scss"; 


.avatar-medium{
    width:auto;
    min-width:80px;
    max-width: 90px;
}

.avatar-comment{
    border:1px solid #efefef;
    width:40px;
    border-radius:5px;    
}


.art-btn-sm{
    font-size:20px;
    cursor: pointer;
}

.visible-xs-art{
    display: none;
}

@media(max-width:380px){
    .visible-xs-art{
        display: inline-block;
    }
}

