
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "vendor/needim/noty/src/noty.scss";
@import "vendor/needim/noty/src/themes/mint.scss"; 

#scroll_to_top_id{
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size:30px;
  color:#cccccc;
  cursor: pointer;
  display:none;
}


.avatar-medium{
    width:auto;
    min-width:80px;
    max-width: 90px;
}

.avatar-comment{
    border:1px solid #efefef;
    width:40px;
    border-radius:5px;    
}


.art-btn-sm{
    font-size:20px;
    cursor: pointer;
}

.visible-xs-art{
    display: none;
}

li a span.badge{
    position: absolute;
    right:0;
}

@media(max-width:766px){
    .visible-xs-art{
        display: inline-block;
    }

    .navbar{
        min-height: unset;
    }

    .navbar-nav{
        text-align: center;
        margin: 0px;
    }

    ul.nav.navbar-nav li {
        display: inline-block!important;
        margin-right:1px;
        text-align: center;
    }
}

